nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%
}

nav span {
  flex: 1;
  margin: 1em;
  font-family: 'Bungee', cursive;
}

nav p {
  font-size: 14px;
  margin: 0.5em;
}

nav i {
  width: 100%;
  height: 100%;
  text-align: center;
}



@media screen and (max-width: 1023px) {

  nav {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  }

}
